body{
    background-color: rgb(235, 181, 96);
    align-items: center;
}

#road{
    width: 500px;
    margin-left: 700px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 7px solid rgb(245, 240, 240);
    border-radius: 10px;
}

#runner{
    margin-top: 200px;
    background: url("pandawalking.png");
    width: 73px;  /*frame ရဲ့ width ကို ပုံ အရေအတွက် နဲ့ စား */
    height:100px;
    animation: walk 1s steps(12) infinite,   /*steps(number of images in photo)*/
               forward 5s linear infinite;
}

@keyframes walk{   /*frame အတွင်း က section 12 ခု ကို ‌ရွေ့တာ  */
    0%{
        background-position: 0px;  /*start point*/
    }
    100%{
        background-position: 880px;  /*width of photo */
    }
}

@keyframes forward{  /*frame တစ်ခု လုံး ‌ရွေ့တာ */
    0%{
        transform: translateX(700px);  /*margin-left :700px */
    }
    100%{
        transform: translateX(1150px);
    }

}

#google{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 10rem;
    list-style: none;
    display: flex;
    justify-content: center;
}
#google .red-color{
    color: red;
}
#google .blue-color{
    color: rgb(26, 95, 173);
}

#google .green-color{
    color: rgb(32, 143, 21);
}
#google .yellow-color{
    color: rgb(241, 228, 33);
}